# Máster de Formación Permanente en Bioinformática e Inteligencia Artificial en Salud
## MÓDULO 6 - Diseño de terapias y medicamentos innovadores. 
### UNIDAD 1.4 Introducción a la quimioinformática

Ejercicios extra de introducción a Python.

# Parte 1: Ejercicios para conocer Python

## Sección 1. Variables

Guarda tu nombre en una variable y mira que tipo de ariable es.

In [1]:
# Guardar el nombre en una variable
mi_nombre = "TuNombre"

# Mostrar el tipo de variable
print(type(mi_nombre))

<class 'str'>

Añade el apellido a la variable con tu nombre, usando el operador + entre las dos cadenas de caracteres.
Imprime en pantalla tu nombre completo.

In [2]:
# Añade el apellido a la variable con tu nombre
mi_nombre_completo = mi_nombre + " Apellido"

# Imprime en pantalla tu nombre completo
print(mi_nombre_completo)

TuNombre Apellido

Ahora experimenta con números.
Crea una variable con un decimal. Muestra en pantalla el valor y el tipo de variable.
Transforma la variable en un entero y muestra en pantalla el valor y el tipo de variable.

In [3]:
# Crear una variable con un decimal
mi_decimal = 10.5

# Mostrar en pantalla el valor y el tipo de variable
print(mi_decimal, type(mi_decimal))

# Transformar la variable en un entero
mi_entero = int(mi_decimal)

# Mostrar en pantalla el valor y el tipo de variable
print(mi_entero, type(mi_entero))

10.5 <class 'float'>
10 <class 'int'>

Crea ahora un variable con un entero y conviértelo a decimal.
Haz lo mismo con una cadena de caracteres.
¿Qué pasa en cada caso?

In [4]:
# Crear una variable con un entero
mi_entero_a_decimal = float(mi_entero)

# Mostrar en pantalla el valor y el tipo de variable
print(mi_entero_a_decimal, type(mi_entero_a_decimal))

# Crear una variable con una cadena de caracteres
mi_cadena = "123"

# Convertir la cadena de caracteres a un número entero
mi_cadena_a_entero = int(mi_cadena)

# Mostrar en pantalla el valor y el tipo de variable
print(mi_cadena_a_entero, type(mi_cadena_a_entero))

10.0 <class 'float'>
123 <class 'int'>

En Python, puedes llevar a cabo operaciones matemáticas comunes con variables numéricas (mira la [documentación](https://docs.python.org/3/library/operator.html) para más información).  

Ahora, intenta añadir 5 a tu variable entera y muestra el resultado en pantalla.

In [5]:
# Añadir 5 a la variable entera
resultado = mi_entero + 5

# Mostrar el resultado en pantalla
print(resultado)

15

Crea una lista de tus verduras favoritas y muestra en pantalla cuantas verduras has incluido en la lista.

Aquí tenemos una lista con los nombres de algunos países:

In [6]:
countries_list = ["United States", "Canada", "United Kingdom", "Spain", "Canada", "Japan", "France"]

Convierte la lista en un set, usando la función set() y muestra el resultado.
¿Qué le ha pasado a nuestra lista original? ¿Ves algún cambio?

In [7]:
# Convertir la lista en un set
countries_set = set(countries_list)

# Mostrar el resultado
print("Set resultante:", countries_set)

# Mostrar la lista original para verificar si hubo cambios
print("Lista original:", countries_list)

Set resultante: {'United States', 'Japan', 'Canada', 'Spain', 'United Kingdom', 'France'}
Lista original: ['United States', 'Canada', 'United Kingdom', 'Spain', 'Canada', 'Japan', 'France']

En la siguiente celda creamos un diccionario para almacenar las edades de tres personas, usando sus nombres como clave:

In [8]:
gente = {"Laura" : 27,
          "Julia" : 41,
          "Tom" : 35}

persona = "Julia"

print(persona, " tiene ", gente[persona]," años.")

Julia  tiene  41  años.

Añade una nueva persona al diccionario y muestra en pantalla el diccionario actualizado.

In [9]:
# Añadir una nueva persona al diccionario
gente["Carlos"] = 29

# Mostrar en pantalla el diccionario actualizado
print(gente)

{'Laura': 27, 'Julia': 41, 'Tom': 35, 'Carlos': 29}

**Ejercicio extra:** Crea un diccionario con información sobre los últimos 3 libros que te hayas leído, incluyendo título, autor, año de publicación y precio. Luego, muestra en pantalla la información de cada uno de los libros por separada. Intenta dar un formato agradable.

In [ ]:
# Crear un diccionario con información sobre los últimos 3 libros leídos
libros = {
    "Libro1": {"Título": "Cien años de soledad", "Autor": "Gabriel García Márquez", "Año": 1967, "Precio": 20.99},
    "Libro2": {"Título": "1984", "Autor": "George Orwell", "Año": 1949, "Precio": 15.50},
    "Libro3": {"Título": "El principito", "Autor": "Antoine de Saint-Exupéry", "Año": 1943, "Precio": 10.75}
}

# Mostrar la información de cada libro por separado con formato agradable
for clave, info in libros.items():
    print(f"{clave}:")
    for key, value in info.items():
        print(f"  {key}: {value}")
    print()

## Sección 2. Funciones

Crea una función llamada "greet" que tome el nombre de una persona como argumento y muestre en pantalla un saludo, como por ejemplo "¡Hola, ______! ¿Cómo estás hoy?". Luego, aplica la función con nombres diferentes.

In [ ]:
# ESCRIBE AQUÍ TU CÓDIGO

Crea una función llamada "calcular_area" que tome la longitud y altura de un rectángulo como argumento y devuelva (pero no imprima en pantalla) su área. Luego, aplica la función con diferentes medidas y muestra en pantalla los resultados.

In [ ]:
# ESCRIBE AQUÍ TU CÓDIGO

## Sección 3. Bucles *for*

Crea un bucle en el que se itere del 1 al 10 (ambos incluidos) y muestra en pantalla cada número. En lugar de escribir manualmente la lista de números, usa la funcion `range()`. En el siguiente [enlace](https://python-reference.readthedocs.io/en/latest/docs/functions/range.html) encontrarás más información sobre la función.

In [ ]:
# ESCRIBE AQUÍ TU CÓDIGO

Escribe ahora un bucle que calcule la suma de los números del 1 al 5 y muestra en pantalla el resultado.

In [ ]:
# ESCRIBE AQUÍ TU CÓDIGO

Crea una lista llamada `lista_original` con los valores iniciales 1, 2 y 3. Luego, escribe un bucle *for* para añadir valores adicionales a esta lista desde otra lista llamada `nuevos_valores`. Finalmente, imprime la lista `lista_original` actualizada tras ampliarla con la lista `nuevos_valores`. Más información sobre las listas en Python en el siguiente [enlace](https://docs.python.org/3/tutorial/datastructures.html)

In [ ]:
# ESCRIBE AQUÍ TU CÓDIGO

Hemos creado un bucle *for* para transformar una lista de números decimales en enteros y almacenar los enteros en una nueva lista:

In [ ]:
list_floats = [3.5, 2.6, 1.9, 2.5, 4.7, 8.1]
list_ints = []

for float_num in list_floats:
  int_num = int(float_num)
  list_ints.append(int_num)

print(list_ints)

La misma operación puede ser escrita en una única línea, lo que se conoce como listas comprensivas, como se muestra en el siguiente ejemplo:

In [ ]:
list_ints = [int(float_num) for float_num in list_floats]

print(list_ints)

Esto permite una forma más compacta de escribir el código.

Ahora, pruébalo tú mismo. Crea una lista con los nombres de los días laborables. Luego crea la lista `dias_felices` añadiendo los caracteres ":D" a cada día laboral.

In [ ]:
# ESCRIBE AQUÍ TU CÓDIGO

Puedes iterar sobre una cadena de caracteres como si fuera una lista. Mira el siguiente ejemplo:

In [ ]:
my_string = "supercalifragilisticexpialidocious"

for letter in my_string:
  print(letter)

Ahora crea una lista (usando una lista comprensiva) donde incluyas todas las letras de `my_string`. Luego tranfórmalo en un set y muestra en pantalla cuantas letras diferentes tiene `my_string`.

In [ ]:
# ESCRIBE AQUÍ TU CÓDIGO

## Sección 4. Claúsulas condicionales *if else*

En la siguiente celda, hay que usar un estamento condicional para confirmar si un número es par o impar, basándose en el resto de su división entre 2.

In [ ]:
# Obtén un número entero del usuario
num = int(input("Introduce un número entero: "))

# Comprueba si el número es par o impar
# ESCRIBE AQUÍ TU CÓDIGO

Escribe un programa en Python que tome dos números como entrada y utilice una sentencia *if-else* para determinar cuál de los dos es mayor. Imprime el resultado en pantalla.

In [ ]:
# ESCRIBE AQUÍ TU CÓDIGO

## Sección 5. Clausulas *Try except*

En el siguiente bloque de código, se usa en bloque *try-except* para manejar dos tipos de excepciones: ZeroDivisionError (para divisiones entre 0) y ValueError (para acciones que no se pueden llevar a cabo debido al tipo de variable).

In [ ]:
# Obtén dos número del usuario
try:
    num1 = float(input("Introduce el primer número: "))
    num2 = float(input("Introduce el segundo número: "))

    # Intenat dividirlos entre ellos
    result = num1 / num2

    # Imprime el resultado
    print("Resultado de la división:", result)

except ZeroDivisionError:
    print("Error: La división entre 0 no está permitida.")
except ValueError:
    print("Error: Por favor, introduce valores numéricos válidos.")

Escribe una función que pida un número al usuario y calcule, tanto su logaritmo decimal como su logaritmo neperiano, e imprime el resultado en pantalla.
Construye el código de forma que sea capaz de manejar posibles errores.

In [ ]:
# ESCRIBE AQUÍ TU CÓDIGO